.wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    display:inline-block;
    display: flex;
    padding: 5px 0;
    width: 120px;
    height: 42px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    
}

.icon {
    font-size: 2rem;
    color: #fff;
    padding-right: 10px;
}